/* This is a page for the style that is found in the Photoes page,
the main css messed up this site so I made a new one */
/* Centered unorderd list in navbar */
ul {
    margin-left: auto;
    margin-right: auto;
}

/* Navbar decoration */
.navbar {
    background-color: #835051;
    position: static;
}

/* Navbar links */
.navbar-nav {
    color: #553737;
}

/* sctive site */
.navbar-nav .nav-link.active {
    color: aquamarine;
    font-weight: bolder;
}

/* Home button */
.navbar-nav .nav-link.home {
    color: #632425;
}

/* Body decoration */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Decoration for background images */
.bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 10px #835051;
}

/* All the background images */
.img1 {
    background-image: url("../Images/Fotografi/Staircase.png");
}

.img2 {
    background-image: url("../Images/Fotografi/destroyed\ car.png");
}

.img3 {
    background-image: url("../Images/Fotografi/Red\ car.png");
}

.img4 {
    background-image: url("../Images/Fotografi/Foot.png");
}

.img5 {
    background-image: url("../Images/Fotografi/truck.png");
}

.img6 {
    background-image: url("../Images/Fotografi/Bus.png");
}

.img7 {
    background-image: url("../Images/Fotografi/dirt\ road.png");
}

/* textbox */
.bg-text {
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #835051;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 700px;
    padding: 20px;
    text-align: center;
}

/* navbar dropdown menu */
.dropdown-menu {
    background-color: #be6d6f;
}