/* Body decoration */
body {
    background-color: #9c5a5b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Style to the maps found on the Home page */
.map {
    border: 1vw solid #553737;
    border-radius: 10%;
    width: 80%;
    aspect-ratio: 1 / 1;
}

/* Main Tag for the stuff that is in the main part of the documents */
main {
    flex: 1;
}

/* Rounded Corners Id */
#rcorners {
    border-radius: 25px;
}

/* Unorders list for the navbar centered */
ul {
    margin-left: auto;
    margin-right: auto;
}

/* Navbar decoration */
.navbar {
    background-color: #835051;
}

/* Navbar links */
.navbar-nav {
    color: #553737;
}

/* Active site on the navbar */
.navbar-nav .nav-link.active {
    color: aquamarine;
    font-weight: bolder;
}

/* Home Button when it is not active */
.navbar-nav .nav-link.home {
    color: #632425;
}

/* Background colour for the dropdown in the navbar */
.dropdown-menu {
    background-color: #be6d6f;
}

/* Footer colour */
.bg_footer2 {
    text-align: center;
    background-color: #835051;
    width: 100vw;
}

/* Center class */
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Link decoration */
a {
    text-decoration: none;
    color: #212529;
}

/* Link decoration when hoverting over */
a:hover {
    color: rgb(117, 28, 28);
}

/* Box with info about work */
#arbeidboks {
    text-align: left;
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 20%;
    position: absolute;
    border: 12px solid #553737;
}

/* Allboxes */
#allbox {
    position: relative;
    margin-top: 5%;
    margin-bottom: 35%;
}

/* No display */
.invis {
    display: none;
    opacity: 0;
}

/* JS Certified image */
#Certified {
    width: 20%;
    color: #212529;
}